@media screen and (max-width: 1023px) {
    .container {
        width: 95% !important;
        padding: 1% 0 !important;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%) !important;
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 95% !important;
        padding: 2% 0 !important;
    }
    .products {
        
        grid-template-columns: 100% !important;
        
    }

    .product-item  {
        margin-bottom: 32px;
    }
    p {
        font-size: 0.9em;
    }
    
}