@use "config/reset.scss";
@use "config/variaveis.scss";
@use "seccoes/produtos";
@use "media-query/media.scss";

body {
  background-color: #f5f6fa;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: variaveis.$corPrincipal;
  position: sticky;
  top: 0;
  left: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9% 0;
    .menu {
      display: flex;
    }

    .menu li {
      font-weight: bold;
      margin-left: 24px;
    }

    .menu li a {
      color: #fff;
      text-decoration: none;
    }
  }
}
li {
  list-style: none;
}
